body {
  background-color: #FAFAD2;
}

#view{
    margin-left:auto;
    margin-right:auto;
    padding: 12px;
	overflow: auto;
	border:#333 1px solid;
	border-radius: 6px;
	-moz-border-radius: 6px;
	width:535px;
	height:300px;
	color: #0066CC;
}

#uname {
    color: #CD5C5C;
}

.logged {
  margin-left:auto;
  margin-right:auto;
  padding: 12px;
  overflow-y: auto;
  border:#333 1px solid;
  border-radius:6px;
  -moz-border-radius:6px;
  width: 200px;
  height: 40px;
  font-family: "Comic Sans MS", cursiv, sans-serif;
  font-size: 13px;
}

h1 {
  margin-left:auto;
  margin-right:auto;
  font-family: "Comic Sans MS", cursiv, sans-serif;
  color: #0066CC;
}

h2 {
  margin-left:auto;
  margin-right:auto;
  font-family: "Comic Sans MS", cursiv, sans-serif;
  color: #0066CC;
}

form {
    font-weight: 600;
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    
    padding: 30px 30px 20px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #0066CC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

fieldset {
    font-weight: 600;
    margin-left:auto;
    margin-right:auto;
    border-color: #0066CC;
    max-width: 500px;
    background: #FFFFCC;
    padding: 30px 30px 20px 30px;
    font: 12px "Comic Sans MS", cursiv, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

legend {
	 font-weight: bold;
     color: #0066CC;
	 font: 25px Arial, Helvetica, sans-serif;
}

label {
    display: block;
    margin: 0px 0px 5px;
}

#develop {
    font-weight: 600;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    
    padding: 30px 30px 20px 30px;
    font: 14px "Comic Sans MS", cursiv, sans-serif;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#status {
    font-weight: 600;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    
    padding: 30px 30px 20px 30px;
    font: 14px "Comic Sans MS", cursiv, sans-serif;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#stat {
    font-weight: 600;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    
    padding: 30px 30px 20px 30px;
    font: 14px "Comic Sans MS", cursiv, sans-serif;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#reg {
    font-weight: 600;
    margin-left:auto;
    margin-right:auto;

    max-width: 500px;
    
    padding: 30px 30px 20px 30px;
    font: 16px Arial, Helvetica, sans-serif;
    color: #0066CC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

p {
  font: 13px "Comic Sans MS", cursiv, sans-serif;
  color: #0066CC;
  font-weight: bold;

}

#viewCount {
   margin-left:auto;
  margin-right:auto;
  padding: 12px;
  overflow-y: auto;
  border:#333 1px solid;
  border-radius:6px;
  -moz-border-radius:6px;
  width: 200px;
  height: 40px;
  font-family: "Comic Sans MS", cursiv, sans-serif;
  font-size: 13px;
}

input[type=text] {
padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
border-radius: 5px;
}

input[type=text]:focus {
border-color:#333;
font-family: "Comic Sans MS", cursiv, sans-serif;
 }

input[type=submit] {
padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px;
background-color: #33CCFF;
font-family: "Comic Sans MS", cursiv, sans-serif;
 }

input[type=button] {
padding:5px 15px; background:#ccc; border:0 none;
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; 
background-color: #33CCFF;
font-family: "Comic Sans MS", cursiv, sans-serif;
}