.bg1:hover + .gg1{
background-color: purple;
}
.bg2:hover + .gg2{
background-color: purple;
}
.bg3:hover + .gg3{
background-color: purple;
}

div {
	display: inline-block;
	}

	#red {
			height: 100px;
			width: 125px;
			background-color: red;
			margin-left: 20px;
			margin-top: 20px;
	}

	#orange {
			height: 100px;
			width: 450px;
			background-color: orange;
			margin-left: 100px;
			margin-top: 20px;
	}
	
	#yellow {
			height: 200px;
			width: 50px;
			background-color: yellow;
			margin-left: 100px;
			margin-top: 75px;
	}
	
	#green {
			height: 200px;
			width: 150px;
			background-color: green;
			margin-left: 20px;
			margin-top: 75px;
	}
	
	#blue {
			height: 200px;
			width: 50px;
			margin-left: 470px; 
			background-color: blue;
			margin-top: 75px;
	}
	
	#indigo {
			height: 200px;
			width: 150px;
			margin-left: 20px; 
			background-color: indigo;
			margin-top: 75px;
			margin-right: 100px;
	
	}